
body{
  margin: 0;
}

h1 {
  margin-top: 0;
  font-family: cursive;
  font-style: normal;
  font-size: 40px;
  color: green;
}

.top-container{
  background-color: #E4F9F5;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 20px;
}

.middle-container{
  background-color: red;
  height:200px;
  width: 200px;
  border-style:solid;
  border-width:20px;
  margin-left:260px;
}

.bottom-container{
background-color: blue;
height:200px;
width: 200px;
border-style: solid;
border-width: 10px;
border-color: black;
margin-left: 500px;
}
